*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    text-align: center;
}

.container{
    width: 100%;
    height: 100vh;
    background: white;
    background-size: 1200px,100%;
    display: flex;
    align-items: center;
    margin-top: 53px;
    justify-content: center;
    background-color:rgb(87, 128, 241) ;
    border: black;
}

.calculator
{
    background:#3a4452;
    padding: 20px;
    border-radius:10px;
    

}
.calculator form input{
    border: 0;
    margin: 10px;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: transparent;
    color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}
form .display
{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input
{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}
form input .equal
{
    width: 60px;
}

form input.operator
{
    color: rgb(0, 110, 255);
}
